.sort_item_title {
  color: var(--gray-color-800);
  font-size: var(--font-sm);
  font-family: var(--font-medium)
}

.sell_domain_wrapper {
  margin-left: 1.25rem;
}

.sell_domain {
  text-decoration: underline;
  font-size: var(--font-sm);
  font-family: var(--font-regular)
}

.sort_item {
  margin-left: 1.25rem;
  color: var(--gray-color-500);
  font-size: var(--font-sm);
  cursor: pointer;
  font-family: var(--font-regular)

}

.header {
  margin-bottom: 2rem;
}

@media (max-width: 769px) {
  .header {
    display: none ;
  }
}