.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding:1rem 5px ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--gray-color-200);
  background-color: #fff;
  z-index: 30;
}

.wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  height: 1.5rem;
  & img{
    width: 100%;
    height: 100%;
  }
}

.icon_card{
  width: var(--icon-card-width);
  height: var(--icon-card-height);
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--gray-color-200);
  &.profile{
    width: auto;
    min-width: var(--icon-card-width);
    font-family: var(--font-regular);
    color: var(--gray-color-500);
    justify-content: space-around;
    padding: 0 8px;
  }
}
.profile_name{
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}