.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem;
  min-height: 100vh;
}

.product_wrapper{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.filter{
  width: 27%;
}
.domain_list{
  width: 70%;
}