.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem;
  min-height: 100vh;
}

.product_wrapper{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.filter{
  width: 27%;
}
.domain_list{
  width: 70%;
}

@media screen and (max-width: 769px) {
  .product_wrapper{
    flex-direction: column;
    width: 100%;
  }
  .filter{
    display: none;
  }
  .domain_list{
    width: 100%;
  }
}